<div class="container-fluid">
  <div class="jumbotron bg-white">
      <h1 class="display-2 text-warning">The Cocktail</h1>
  </div>
</div>

<div class="navbar navbar-expand-lg navbar-light bg-light">
  
  <ul class="navbar-nav mr-auto">
      <li>
          <a class="nav-link navbar-brand" routerLink="browse-cocktails">Browse Cocktails</a>
      </li>
      <li>
          <a class="nav-link navbar-brand" routerLink="user-cocktails">My Cocktails</a>
      </li>
      <li>
          <a class="nav-link navbar-brand" routerLink="user-profile">User Profile</a>
      </li>
      <li>
          <a class="nav-link navbar-brand" routerLink="path not found - not working">Not Working</a>
      </li>
      <li>
          <a class="nav-link navbar-brand" routerLink="super-secret">Super Secret Page</a>
      </li>
  </ul>
  <form class="form-inline my-2 my-lg-0">
      <a class="nav-link navbar-brand" routerLink="user-login">Login</a>
  </form>
  <!--&nbsp;-->
</div>
